
body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background: teal;
    color: whitesmoke;
    width: 500px;
    border: 3px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    text-shadow: 0px 0px 5px black;
}

.card:hover {
    background-color: rgb(9, 174, 174);
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h3, .card h2, .card p, .card h4 {
    margin: 5px 0;
}